* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #1a1c20;
  --link-color: #4a76ee;
  --background-color: #eeeff1;
}

html{
 scroll-behavior: smooth;
}

body {
font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}