* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #1a1c20;
  --link-color: #4a76ee;
  --background-color: #eeeff1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* Navbar */
/* padding x axis 50px and y axis 0px */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  height: 80px;
  align-items: center;
}

nav .left a {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 600;
}


/* margin x axis 10px and y axis 0 */
nav .right a {
  color: var(--text-color);
  margin: 0px 10px;
}

nav .right a:last-child {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 5px 15px;
  border-radius: 5px;
}

nav .right a span {
  margin-left: 5px;
}



@media (max-width: 600px) {
  nav {
    padding: 0 20px;
  }

  nav .right a {
    font-size: 22px;
  }

  nav .right a:last-child {
    color: var(--text-color);
    background: transparent;
    padding: 0;
  }

  nav .right a span {
    display: none;
  }

}